/* FONT FAMILY */

@font-face {
  font-family: "InterVariable";
  src: url("/fonts/InterVariable.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AtiplaND";
  src: url("/fonts/AtiplaND-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AtiplaND";
  src: url("/fonts/AtiplaND-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AtiplaND";
  src: url("/fonts/AtiplaND-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "AtiplaND";
  src: url("/fonts/AtiplaND-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "AtiplaND";
  src: url("/fonts/AtiplaND-Black.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
