---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact | Amangoua Ange">
  <main class="dark:bg-neutral-900 h-full pb-20">
    <h2
      class="tracking-tight text-balance lg:text-4xl text-2xl font-medium dark:text-white text-neutral-900"
    >
      All my work
    </h2>
    <p
      class="lg:text-lg text-base text-neutral-500 lg:mb-32 mb-10 my-1 font-normal"
    >
      Here you will find all of the work I have done over the years. I am always
      looking for new clients and projects to work on.
    </p>
  </main>
</Layout>
