---
import About from '../components/About.astro';
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Index." description='Frontend Dev'>
	<main>
		<div class="wrapper px-6 lg:px-5 md:px-8">
			<Hero />
			<About />
		</div>
	</main>
</Layout>



