---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Amangoua | Portfolio by Astro JS.">
  <main class="bg-red-500 h-screen">
    <h2 class="text-3xl font-bold text-black">Welcome</h2>
  </main>
</Layout>
