---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Now | Amangoua Ange">
  <main class="dark:bg-neutral-900 h-full pb-20">
    <h2
      class="tracking-tight dark:text-white text-neutral-900 text-balance lg:text-4xl text-2xl font-medium"
    >
      Welcome to my now page
    </h2>
    <p class="lg:text-lg text-base text-neutral-500 lg:my-4 my-1 font-normal">
      Enjoying family, life and becoming the best part of me. this “now” page
      reflects my current priorities and goals, and i will update it regularly
      as my focus and activities change over time
    </p>
  </main>
</Layout>
