---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Amangoua Ange | View all my Projects">
  <main class="bg-neutral-900 h-full">
    <h2 class="text-3xl font-bold">Projects</h2>
  </main>
</Layout>
