---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Amangoua Ange | View all my Projects">
  <main
    class="dark:bg-neutral-900 h-full pb-20 dark:text-white text-neutral-900"
  >
    <h2 class="tracking-tight text-balance lg:text-4xl text-2xl font-medium">
      The ultimate all-in-one platform for managing your personal business
      ventures
    </h2>
  </main>
</Layout>
