---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Stack | Amangoua Ange">
  <main class="dark:bg-neutral-900 h-full pb-20">
    <h2
      class="tracking-tight dark:text-white text-neutral-900 text-balance lg:text-4xl text-2xl font-medium"
    >
      My favorite software programs, gadgets, and other recommendations.
    </h2>
    <p class="lg:text-lg text-base text-neutral-500 lg:my-4 my-1 font-normal">
      I'm a software engineer and I use a lot of different tools and products to
      develop software, stay productive, or distract myself from
      procrastinating. So, I've compiled a comprehensive list of all my favorite
      things.
    </p>
  </main>
</Layout>
