---

---

<div class="my-5 flex justify-around">
    <figure class="max-w-md">
      <img src="/ange.jpeg" alt="ange">
    </figure>

    <div>
       <div>
        <h2>
            More about me
        </h2>
       </div>

    </div>
</div>