---
interface Props{
    title : string,
    active? : boolean,
    href? : string
}

const {title,active, href } = Astro.props
---

<a href={href} target="_blank" class={`${active ? 'text-white bg-gray-900 md:inline-block hover:bg-gray-900/5' : 'text-black bg-white hover:bg-white/60'} md:text-md text-sm px-10 py-3 rounded-full`}>{title}</a>
