---
interface Props{
    title : string,
    active? : boolean,
    href? : string
}

const {title,active, href } = Astro.props
---

<a href={href} target="_blank" class={`${active ? 'text-white bg-black hover:bg-white/50 dark:bg-white dark:text-black md:inline-block' : 'text-black dark:text-white bg-white hover:dark:bg-black/50 dark:bg-black'} md:text-md font-semibold text-p px-10 py-2 md:px-10 md:py-3 rounded-full border-none outline`}>{title}</a>
