---
interface Props{
    title : string,
    active? : boolean,
    href? : string
}

const {title,active, href } = Astro.props
---

<a href={href} target="_blank" class={active ? 'active text-white inline md:block':'inline md:block'}>{title}</a>

<style>

a{
cursor: pointer;
display: inline-block;
background-color: white;
border-radius: 50px;
font-weight: 600;
}

a:hover, 
a:focus{
    background-color: var(--gray900);
    color: white;
    transition: var(--theme-transition);
}

.active {
    background-color: var(--gray900);
}

.active:hover, 
.active:focus{
    background-color: var(--gray800);
}

@media (max-width: 768px) {
a{
    padding: 7px 20px;
    max-width: 300px;
    font-size: var(--text-sm);
}

a:hover, 
a:focus{
    background-color: var(--gray900);
    color: white;
}
.active {
    background-color: var(--gray900);
}
}

@media (min-width:1200px){
   a{
    padding: 8px 30px;
    font-size: var(--text-md);
   } 
}
</style>