---
import { Image } from 'astro:assets';
import Logo from '/public/a.svg'
import { Icon } from "astro-icon";
import useState from 'react'

const navLinks = [
{id: 1, name : 'Intro', url :"/"},
{id: 2, name : 'About', url : "/about"},
{id: 3, name : 'Work', url: "/work"},
{id: 4, name : 'Blog', url : "/blog"},
{id: 5, name : 'Contact', url: "/contact"},
]
---

<nav class=" text-white py-5 absolute z-50 w-full px-2">
    <div class="flex justify-between items-center">
        <a class="" href="#" target="_blank">
             <Image src={Logo} alt="Logo" />
        </a>
        <div class="flex items-center">
            <div class="md:flex items-center gap-3 hidden cursor-pointer">
                <span class="font-medium ">Turn on the lights !</span>
            <div class="h-8 w-8 rounded-full bg-gray-700 md:flex justify-center items-center">
                <span class="w-4 h-4 rounded-full border"><Icon name='mdi:moon-first-quarter' class='text-white'/></span>
            </div>
            </div>
            <div class="ml-10 grid grid-cols-2 gap-2 max-w-[30px] cursor-pointer">
            <span class="block h-2 w-2 bg-white rounded-full"></span>
            <span class="block h-2 w-2 bg-white rounded-full"></span>
            <span class="block h-2 w-2 bg-white rounded-full"></span>
            <span class="block h-2 w-2 bg-white rounded-full"></span>
            </div>
        </div>
    </div>
</nav>