---
import Button from "./Button.astro"
import { Icon } from "astro-icon";
---

<div class="lg:h-screen h-[70vh]  flex justify-center relative">
    <div class="max-w-4xl text-center flex flex-col justify-center items-center h-full relative texte">
        <div class="text-white dark:text-black items-center	">
           <span class="lg:text-6xl md:text-4xl sm:text-3xl text-2xl leading-none font-semibold">
            <span>creative</span>
            <span class="font-display relative lg:text-7xl md:text-5xl sm:text-4xl text-3xl font-light">front-end
            </span>
            <span>focusing on digital experiences</span>
           </span>
        </div>
        <div class="flex justify-center items-center md:flex-row flex-col mt-10 gap-5 mx-10 md:mx-0">
            <Button title="Contact me" href="mailto:amangouakcouange@gmail.com" active/>
            <Button title="Download my resume" href='/portfolio.png'  />
        </div>
        <div class="gap-2 font-bold text-gray-200 dark:text-black absolute bottom-12 flex justify-center items-center">
            <p>Follow me</p>
            <div class="w-8 bg-white dark:bg-black h-[3px] flex-1"></div>
            <div class="flex gap-4">
                <Icon name="mdi:twitter" class='w-6 cursor-pointer hover:text-yellow-200 hover:scale-150' />
                <Icon name="mdi:instagram" class='w-6 cursor-pointer hover:text-yellow-200 hover:scale-150' />
                <Icon name="mdi:github" class='w-6 cursor-pointer hover:text-yellow-200 hover:scale-150' />
            </div>
        </div>
    </div>
</div>

<style>


