---
import { getCollection } from 'astro:content';
import Grid from "./Grid.astro"
import WorksPreview from "./WorksPreview.astro";
import Button from './Button.astro';



const projects = (await getCollection('works'))
	.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
	.slice(0, 4);
---

<div class="text-white dark:text-black leading-none mt-32">
        <div class="md:text-center text-left">
        <h2 class="text-3xl mb-10 lg:text-5xl font-semibold ">
           Case
             <span class="text-4xl lg:text-7xl font-display font-light">Study</span> .
        </h2>
        <Button title='view all cases' href='/works' />
        </div>
        <Grid>
        {projects.map(project =><WorksPreview project={project} />  )}
        </Grid>
</div>