---
import NavList from "../components/Header/NavList.tsx";
import Logo from "../components/Header/Logo.tsx";
import Button from "../components/Header/Button.tsx";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="stylesheet" href="/base.css" />
  </head>
  <body>
    <div class="min-h-[640px] flex flex-col">
      <div
        class="z-50 hidden bg-white dark:bg-neutral-900 lg:flex md:w-72 md:flex-col md:fixed md:inset-y-0"
      >
        <!-- Static sidebar for desktop -->
        <div class="text-white my-2 h-full justify-between flex flex-col">
          <!-- Logo -->
          <Logo />

          <!-- Menu -->
          <NavList />

          <!-- Download CV -->
          <div class="border-t border-neutral-700 px-5">
            <Button />
          </div>
        </div>
      </div>
      <slot />
    </div>
  </body>
</html>

<style is:global>
  body {
    margin: 0;
    padding: 0;
    line-height: inherit;
    box-sizing: border-box;
    transition: all ease-in-out 3s;
  }

  html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
  }
</style>
